<a href="https://colab.research.google.com/github/REPANAJYOTHIPRAKASH629/Campusx_Data_Science_Session_Answers/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [1]:
# Write code here
ctc = int(input("enter your salary"))
hra = ctc-0.1*ctc
da = hra-0.05*hra
pf = da-0.03*da
if ctc <=5:
  print(pf)
elif ctc>5 and ctc<=10:
  newctc = pf-0.1*pf
  print(newctc)
elif ctc>10 and ctc<=20:
  newctc = pf - 0.2 * pf
  print(newctc)
else:
  if ctc>20:
    newctc = pf - 0.3 * pf
    print(newctc)

enter your salary700000
406381.5

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [2]:
# Write code here
a = int(input("Enter angle of a : "))
b = int(input("Enter angle of b : "))
c = int(input("Enter angle of c : "))
triangle = a+b+c
if triangle == 180:
    print('We can form a trinagle using ',a,',',b,'and ',c)
else:
    print('We cannot form a trinagle using ',a,' , ',b,'and ',c)

Enter angle of a : 90
Enter angle of b : 46
Enter angle of c : 44
We can form a trinagle using  90 , 46 and  44

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [3]:
# Write code here
costp = float(input("Enter cost price of the product : "))
sellp = float(input("Enter selling price of the product : "))
if sellp > costp:
    print('we are getting profit of : ',sellp-costp)
else:
    print('we are loosing the cost of : ',costp-sellp)

Enter cost price of the product : 25.34
Enter selling price of the product : 30
we are getting profit of :  4.66

### `Problem 4`: Write a menu-driven program - 
1. cm to ft 
2. km to miles 
3. USD to INR 
4. exit

In [4]:
# Write code here
a = float(input("enter your values to exchange cm/km/USD : "))
print('''1. cm to ft
2. km to miles
3. USD to INR
4. exit''')
op = int(input("enter your option : "))

if op == 1 :
    a = a/30.48
    print(a)
elif op == 2:
    a = a/1.609344
    print(a)
elif op == 3:
    a = 82.2163*a
    print(a)
else:
    print('Exit')

enter your values to exchange cm/km/USD : 12
1. cm to ft
2. km to miles
3. USD to INR
4. exit
enter your option : 3
986.5956000000001

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [6]:
# Write code here
num = int(input("enter how much series you want : "))
fb = [0,1]
if num > 2:
    for i in range(2,num):
        nt = fb[i-1]+fb[i-2]
        fb.append(nt)
print(fb)

enter how much series you want : 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output: 

```bash
120
```

In [7]:
# Write code here
num = int(input("Enter the number : "))
fact = 1
for i in range(1,num+1):
    fact = fact *i
print(fact)

Enter the number : 5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [8]:
# Write code here
number = input("Enter your number : ")
print(int(number[::-1]))

Enter your number : 76542
24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [15]:
# Write code here
sum = 0
count = 0
while True:
    num = int(input("Enter a number : "))
    if num == 0:
        break
    sum += num
    count += 1
if count == 0:
    print("No numbers entered.")
else:
    average = sum / count
    print("Sum:", sum)
    print("Average:", average)

Enter a number : 5
Enter a number : 23
Enter a number : 23
Enter a number : 345
Enter a number : 54
Enter a number : 45
Enter a number : 12
Enter a number : 09
Enter a number : 0
Sum: 516
Average: 64.5

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [16]:
# Write code here
result = []
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        result.append(str(i))
print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [17]:
# Write code here
result = []
for i in range(1000, 3001):
    if all(int(digit) % 2 == 0 for digit in str(i)):
        result.append(str(i))
print(" ".join(result))

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. 
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps. 

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.** 

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [18]:
# Write code here
import math

# initialize the coordinates of the robot
x, y = 0, 0

while True:
    # read the direction and steps of the next movement
    movement = input().split()
    if movement[0] == '!':
        break
    direction, steps = movement[0], int(movement[1])

    # update the coordinates based on the direction and steps
    if direction == 'UP':
        y += steps
    elif direction == 'DOWN':
        y -= steps
    elif direction == 'LEFT':
        x -= steps
    elif direction == 'RIGHT':
        x += steps

# compute the distance from the current position to the origin
distance = round(math.sqrt(x**2 + y**2))

print(distance)

UP 5
DOWN 3
LEFT 3
RIGHT 2
!
2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [19]:
# Write code here
n = int(input("Enter a number: "))
if n < 2:
    print(n, "is not a prime number")
else:
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            print(n, "is not a prime number")
            break
    else:
        print(n, "is a prime number")

Enter a number: 3
3 is a prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [20]:
# Write code here
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

# loop through the range of numbers
for num in range(start, end + 1):
  sum = 0
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
  if num == sum:
    print(num)

Enter the starting number: 1
Enter the ending number: 500
1
153
370
371
407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [21]:
# Write code here
H = int(input("Enter the hour (1-12): "))
M = int(input("Enter the minute (0-59): "))
hour_angle = 0.5 * ((H % 12) * 60 + M)
minute_angle = 6 * M
angle_diff = abs(hour_angle - minute_angle)
if angle_diff > 180:
    angle_diff = 360 - angle_diff
print(int(angle_diff))

Enter the hour (1-12): 9
Enter the minute (0-59): 0
90

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [24]:
# Write code here

# read the input values for rectangle 1
print("Enter coordinates for Rectangle 1:")
L1_x = int(input("Left coordinate x: "))
L1_y = int(input("Left coordinate y: "))
R1_x = int(input("Right coordinate x: "))
R1_y = int(input("Right coordinate y: "))

# read the input values for rectangle 2
print("Enter coordinates for Rectangle 2:")
L2_x = int(input("Left coordinate x: "))
L2_y = int(input("Left coordinate y: "))
R2_x = int(input("Right coordinate x: "))
R2_y = int(input("Right coordinate y: "))

# check if the rectangles overlap
if L1_x > R2_x or L2_x > R1_x:
    overlap = False
elif L1_y < R2_y or L2_y < R1_y:
    overlap = False
else:
    overlap = True
# print the result
if overlap:
    print("The two rectangles overlap.")
else:
    print("The two rectangles do not overlap.")

Enter coordinates for Rectangle 1:
Left coordinate x: 12
Left coordinate y: 45
Right coordinate x: 12
Right coordinate y: 45
Enter coordinates for Rectangle 2:
Left coordinate x: 12
Left coordinate y: 23
Right coordinate x: 32
Right coordinate y: 23
The two rectangles do not overlap.